[Unit]
Description=GRAMS NVMe to SATA Data Mirror Daemon
After=local-fs.target
Wants=local-fs.target

[Service]
Type=simple
ExecStart=/usr/local/bin/data_mirror
User=root
Group=root
Restart=on-failure
RestartSec=5s
StandardOutput=journal
StandardError=journal

Environment="DATA_SSD0_DIR=/write_data_nvme_ssd0"
Environment="DATA_SSD1_DIR=/write_data_nvme_ssd1"
Environment="DATA_BACKUP0_DIR=/backup_data_sata_ssd0"
Environment="DATA_BACKUP1_DIR=/backup_data_sata_ssd1"
Environment="DATA_MIRROR_MAX_MBYTES_PER_SEC=150"
Environment="DATA_MIRROR_MIN_DATE=2026-07-07T00:00:00"
Environment="DATA_MIRROR_RATE_FILE=/var/lib/grams_mirror/max_mbps"
Environment="DATA_MIRROR_STATE_FILE=/var/lib/grams_mirror/state.tsv"

RuntimeDirectory=grams_mirror

[Install]
WantedBy=multi-user.target
